# Home Assistant Configuration
HA_URL=http://homeassistant.local:8123
HA_TOKEN=token

# Admin Configuration
ADMIN_PASSWORD=admin123
SUPERADMIN_PASSWORD=superadmin123

# js app source
WWW_SRC_DIR=public-dashboard/rootfs/var/www/src

# assets directory
WWW_PUBLIC_DIR=public-dashboard/rootfs/var/www/dist

# location for public_dashboard_config.yaml
CONFIG_DIR=.

# backend port for development
PORT=8000
